# Exclude virtual environment
.env/
.envfile

# Exclude temporary and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw

# Exclude editor/IDE files
.vscode/
.idea/

# Exclude version control files
.git/