@tailwind base;
@tailwind components;
@tailwind utilities;


polygon { 
  fill: rgba(0, 0, 0, 0); 
  stroke-width: 0.5;
  stroke: rgb(0,0,0);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 84, 70));
}

@media (max-width: 768px) {
    body {
      overflow-y: hidden;
      overflow-x: hidden;
      overflow: hidden;
    }
  }

html, body{
    height: 100%;
}